@use "../../../../styles/typography.scss" as typo;

.aboutContainer {
  background: #fcfcfc;
  border-radius: 16px;
  padding: 3rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
  width: 100%;
  max-width: 600px;
  min-width: 450px;
  margin: 0;
  flex: 1 1 50%;

  h1 {
    @include typo.heading-1;
    margin-bottom: 2rem;
  }

  p {
    @include typo.base-text;
    color: #666;
    line-height: 1.7;
    margin-bottom: 1.2rem;
  }

  ol {
    @include typo.base-text;
    color: #666;
    line-height: 1.7;
    margin-bottom: 1.2rem;
    list-style-type: decimal;
    margin: 0;
    padding-left: 25px;
  }
  ul {
    @include typo.base-text;
    color: #666;
    line-height: 1.7;
    margin-bottom: 1.2rem;
    margin: 0;
    padding-left: 25px;
  }
  li {
    padding-left: 16px;
  }
}

@media (max-width: 1250px) {
  .aboutContainer {
    max-width: 100%;
    min-width: auto;
    flex: none;
  }
}

@media (max-width: 900px) {
  .aboutContainer {
    max-width: 100%;
    min-width: auto;
    padding: 2.5rem 1.5rem;
    flex: none;
  }
}
