@use "sass:color";
@use "../../../styles/variables.scss" as vars;
@use "../../../styles/typography.scss" as typo;

.container{
  display: none;
  background: #DD342E1F;
  color:#DD342E;
  border-radius: 10px;
  padding: 1px 25px;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  p{
    display:flex;
    align-items: center;
    gap: 4px;
    span{
      @include typo.bold-normal-text;
    }
    a:last-child{
      @include typo.soft-text;
      display:inline-block;
      font-size: 12px;
      font-weight: 400;
      color:#DD342E;
      text-decoration: underline;
      &:hover{
        color:color.adjust(#DD342E, $lightness: 5%);
      }
    }
  }
  svg{
    font-size: 25px;
    cursor: pointer;
    &:hover{
      transform: scale(0.9);
      color:color.adjust(#DD342E, $lightness: -10%);
    }
  }
}

.open.container{
  display: flex;
}