@use "../../../../styles/typography.scss" as typo;

.howItWorksStepsSection {
  background: #fafafa;
  padding: 3.5rem 0 3.5rem 0;
  width: 100%;
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

.heading {
  @include typo.heading-1;
  text-align: center;
  margin-bottom: 2.5rem;
}

.stepsRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
}

.step {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1.5rem 2.5rem 1.5rem;
}

.icon {
  margin-bottom: 1.5rem;
  svg {
    width: 90px;
    height: 90px;
    display: block;
    overflow: visible;
    color: #e03a4e;
  }
}

.title {
  @include typo.heading-2;
  margin-bottom: 1rem;
}

.description {
  @include typo.base-text;
  color: #666;
  line-height: 1.6;
  max-width: 350px;
}
