.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.sidebar {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main {
  flex: 1 1 0%;
  min-width: 0;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    flex: unset;
  }
  .main {
    min-width: unset;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
