// Global SCSS Variables

// Colors
$primary-color: #e53e3e; // Red color from the logo
$text-color: #1f2937;
$light-gray: #f3f4f6;
$gray-500: #6b7280;

// Breakpoints
$mobile-breakpoint: 850px;

// Spacing
$standard-padding: 0.5rem 5% 2rem;
$nav-margin-bottom: 4rem;

// Shadows
$header-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);


// Colors 2
$primary-hover: #dc2626;
$gray-border: #d1d5db;
$gray-bg: #f9f9f9;
$label-color: #686b6f;

// Font sizes
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 0.875rem;

// Spacing 2
$spacing-md: 1rem;
$spacing-sm: 0.5rem;

// Radius
$radius: 0.5rem;
