// Global SCSS Variables

// Colors
$primary-color: #e53e3e; // Red color from the logo
$text-color: #1f2937;
$light-gray: #f3f4f6;
$gray-500: #6b7280;

// Breakpoints
$mobile-breakpoint: 850px;

// Spacing
$standard-padding: 0.5rem 5% 2rem;
$nav-margin-bottom: 4rem;

// Shadows
$header-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
